body {
  margin: 0;
  font-family: 'Sigmar One','Dancing Script','Mate SC','Indie Flower','Orelega One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

